<div class="auth-full-height d-flex flex-row align-items-center">
  <div class="container">
     <div class="d-flex justify-content-center mx-auto" style="max-width: 360px;">
         <img class="img-fluid" src="../../assets/images/others/img-2.png" alt="" />
     </div>
     <div class="text-center mt-5">
         <h1 class=" fw-bolder mb-3">Opss... PAGINA NO ENCONTRADA</h1>
         <p class="mb-4 font-size-lg">la página que ud. está buscando no existe. Sugerimos que regrese al Home.</p>
         <a href="/" class="btn btn-info">Regresar al home</a>
     </div>
  </div>
</div>
<footer class="footer text-center">{{year}} QW SIAT</footer>
