 <!-- Side Nav START -->
 <div class="side-nav vertical-menu nav-menu-light scrollable">
  <div class="nav-logo">
      <div class="w-100 logo">
          <img class="img-fluid" src="./assets/images/logo/logo.png" style="max-height: 70px;" alt="logo">
      </div>
      <div class="mobile-close">
          <i class="icon-arrow-left feather"></i>
      </div>
   </div>
   <ul class="nav-menu">
      <li class="nav-menu-item">
          <a href="index.html">
              <i class="feather icon-home"></i>
              <span class="nav-menu-item-title">Dashboard</span>
          </a>
      </li>


      <li class="nav-group-title">PAGES</li>
      <li class="nav-submenu">
          <a class="nav-submenu-title">
              <i class="feather icon-settings"></i>
              <span>Utility</span>
              <i class="nav-submenu-arrow"></i>
          </a>
          <ul class="nav-menu menu-collapse">
              <li class="nav-menu-item">
                  <a href="v-profile-personal.html">Profile</a>
              </li>
              <li class="nav-menu-item">
                  <a href="v-invoice.html">Invoice</a>
              </li>
              <li class="nav-menu-item">
                  <a href="v-faq.html">FAQ</a>
              </li>
              <li class="nav-menu-item">
                  <a href="v-pricing.html">Pricing</a>
              </li>
              <li class="nav-menu-item">
                  <a href="v-user-list.html">User List</a>
              </li>
          </ul>
      </li>


  </ul>
</div>
<!-- Side Nav END -->
